<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Copper</title>

  <link rel="stylesheet" href="../public/css/search.css">

</head>

<body style="background-color:#dab072;">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://dobtco.github.io/starrr/dist/starrr.js"></script>
    <script src="../public/js/search.js"></script>

    <div class="topnav">
        <ul>
            <li>
                <a href="../index.html">
                    <img src="../public/assets/logo.png">
                </a>
            </li>
           
            <li><a class="active">Search</a></li>
            <li><a href="rate.html">Rate</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="map.html">Map</a></li>
        </ul>
    </div> 

    <div class="content">
        <div id="form">
            <form>
                <br><br>
                <label for="badge">Badge Number</label><br>
                <input type="text" id="badge" name="badge"><br>
                <label for="prec">Precinct</label><br>
                <input type="text" id="prec" name="prec"><br><br>
                <div class="submit" id="submit">Search</div> <br><br><br>
            </form> 
        </div>

        <div id="profile">
            <a href="search.html">Search Another</a>
            <div id="cop-info">
                
            </div>
        </div>
    </div>

</body>


</html>
