/* Add a purple background color to the top navigation */
.topnav {
    background-color: #462C61;
    overflow: hidden;
    margin: 0;
    height: 100px;
  }

  .topnav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;  
  }

  .topnav ul li {
    display: inline-block;
    list-style-type: none;
  }
  
  /* Style the links inside the navigation bar */
  .topnav ul li a {
    color: #dab072;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    align-self: end;
    height: 100px;
  }

  .topnav ul li:first-child {
    margin-right: auto;
  }

  .topnav ul li a img {
    max-height: 80px;
  }

  
  /* Change the color of links on hover */
  .topnav ul li a:hover {
    background-color: #68AD7F;
    color: #ddd;
  }
  
  /* Add a color to the active/current link */
  .topnav ul li a.active {
    background-color: #7945AD;
    color: white;
  }

.content {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.5);
}

.content .badgenum {
  display: flex;
  color: #614A27;
  justify-content: center;
}

.content a {
  background-color: #AD8A56;
  color: rgba(255,255,255,0.5);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content a:hover {
  background-color: #614A27;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;background-color: #dab072;
    background-color: #dab072;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23614a27' fill-opacity='0.07' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  }

.submit {
  background-color: #AD8A56;
  color: rgba(255,255,255,0.5);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #614A27;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}